<div class ='formcontainer'>
     
    <p><b> Calendars > Edit </b></p>

    <%= form_for :calendar, :action => url(:calendar, @calendar) do %>
	
         <%= partial 'form' %>          

    <% end =%>
	   
    
</div>
