<div class='fullpage'>
    <div class = 'formcontent'> 
      <table>
         
          <tr>
	      <td><h3>Calendars</h3> </br></td>
	      <td><%= link_to "Add New", resource(:calendars, :new) %></td>
	  </tr>
	  
          <% for calendar in @calendars %>
	         <% unless calendar.start_date.nil? %> 
                <tr>
	            <td><b><%= calendar.start_date.strftime("%B-%d") %></b></td>  
	        <% end %> 
		</tr>
		<% end %>
		    

	</table>
</div>	                            
</div>