<h2 class="current-page">Calendars &gt; Add New</h2>
<fieldset>
  <%= error_messages_for @calendar %>
    <%= form_for(@calendar, :action => resource(:calendars)) do %>
      <%= partial 'form' %>
  <% end =%>
</fieldset>
