<%= error_messages_for @calendar %>

<div class= 'formcontainer'>
   
    <%= form_for(@calendar, :action => resource(:calendars)) do %>
    
          <%= partial 'form' %>  
	
    <% end =%>
  
</div>
