<div class='formcontainer'>

       <table>
       <tr> <h4>Calendars</h4></tr>
             <tr>
                 <td>Title : <%= @title %></td>
                 <td>Description :<%= @description %></td>
                 <td>Location :<%= @location %></td>
             </tr>
	    
       </table>
       
</div>
