<div id="register">
  <H1>Password reset - please check your email</h1>
  <p> The instructions to reset your password have been sent to <%= @person.email %> </p>
  <p> <%= link_to "< back to login page", url(:login) %> </p>
