<div id="register">
  <H1>Sent for approval</h1>
    <div class="register-steps2"><img src="/images/register-step2.gif" alt="Step 2 of 3"/></div>
    
  <p>Hello <%= @parent.name %></p>
  <p>Thank you for completing the second step of the registration process.</p>
  <p> Your registration has been submitted for review. You shall receive an email once it has been approved.</p>