<div id="register">
  <H1>Sent for approval</h1>
    <div class="register-steps3"><img src="/images/register-step3.gif" alt="Step 3 of 3"/></div>
<p>Thank you <%= @parent.name %> for completing the second step of Registration process.</p><p> Your information has been submitted for review. You shall receive an email once it has been approved.</p>