<p>Thank you for completing the first step of Registration process.</p>
<p>                                                                
  Hello <b><%= @parent.name %></b>,
      An email has been sent to <b><%= @parent.email %> </b> that contains a
confirmation link. You must click this link to submit this
information to the School for their approval.

</p>