<div id="register">
  <H1>Thank you, please check your email</H1>
    <div class="register-steps2"><img src="/images/register-step2.gif" alt="Step 2 of 3"/></div>
<p>                                                                
  Hello <b><%= @parent.name %></b>,</p>
      <p>An confirmation link has been emailed to you at <b><%= @parent.email %> </b>. 
        Your application shall be sent for approval once you click that link.

</p>

</div>