<p>Hello  <%= @staff.name %>,</p>

   <p>Welcome to Schoolyard.</p>
 
   <p>Your profile details and administrative rights have been changed.</p>   

   <p>You can login in to Schoolyard to view the Details.</p>
   

<p>Thank you<br/>
<p><%=@current_school.school_name%></p>
