Hello <%= @announcement.person.name %>,

      <p>Thanks For your Feedback</p> 
      <p><h4> Original feedback : </h4></p>
      <p> <%= @announcement.content %> </p>
         
       <p><h4>Schoolyard response:</h4></p>
       <p><%= @announcement.approve_comments %></p><br/>

<p>Thank you,<br/>
<p><%= @current_school.school_name %></p>

