*~
.DS_Store
config/database.yml
config/database.yml.production
config/database.yml.staging
.loadpath
.project
*~
*marks
db/*.sqlite3
.todo
lib/constantz.rb
lib/constantz.rb.production
lib/constantz.rb.staging
gems/gems
gems/docs
gems/specifications
sunspot-solr.pid
solr-index/
tmp/*