<h2 class="current-page">Parent Registrations </h2>
View :  <select id = 'parentID'>
             <option value = '/parent_approvals' <% if (@test == "registrations") %> selected <% end %> >All Registrations</option>
             <option value = '/parent_approvals?label=approved' <% if (@test == "approved") %> selected <% end %> >Approved</option>
             <option value = '/parent_approvals?label=rejected' <% if (@test == "rejected") %> selected <% end %> >Rejected</option>
             <option value = '/parent_approvals?label=pending' <% if (@test == "pending") %> selected <% end %> >Pending Approvals</option>
        </select>

        
       <% if  @parents.empty? %>
             <p class="subText">No Registrations were found. If you've filtered the registrations, try changing the filter, 
	                     otherwise the school might not  have any registrations.
	         </p>
       <% else %>
              <table id="mytable"  cellspacing="0" cellpadding="0">
                   <thead>
                         <th>Name</th>
                         <th>Student (Date of Birth)</th>
                         <th>Status</th>
                   </thead>
                   <tbody>
                         <% for parent in @parents %>
                         <% @students = Registration.find(:all, :conditions => ['parent_id = ?', parent.id]) %>
                                <tr>
                                    <td><%= link_to "#{parent.name}", url(:approval_review, :id => parent) %> </td>
                                        
                                    <td nowrap>
                                      <ul>
                                        <% @students.each do |f| %>
                                            <li><%= f.name %> (<%= f.birth_date.strftime("%b %d, %Y") %>)</li>
                                        <%end%>
                                      </ul>
                                    </td>
                                    <td>
                                                <% if parent.approved==1 %>
                                                  <span class="approved">Approved</span>
                                                <% elsif parent.approved==2 %>
                                                  Pending Approval
                                                <% else %>
                                                  <span class="reject">Rejected</span>
                                                <%end%>
                                    </td>
                               </tr>
                         <% end %>
                  </tbody>
             </table>
            <%= will_paginate (@parents, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
        <% end %> 

        
        
        
        
<script type = 'text/javascript'>

        $( 'parentID' ).observe( 'change', function()
          {
            document.location.href = $( 'parentID' ).value;
          
          });
       
</script>
