   <%= partial 'layout/main' %>
       
    <div id="content-wrap"><!--Wraps The content Area-->
      <div id="content" class="one-col"><!--Content Area Starts here-->
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    
<%= partial 'common/change' %>
    
    
    <!--Right Sidebar to be inserted here-->    
  <div class="hrule clear hidden "><hr /></div>
  </div><!--Pagewrap End -->
  <%= partial 'common/footer' %>
</body>
</html>
