  <%= partial 'layout/main' %>
    <div id="content-wrap"><!--Wraps The content Area-->
      <%= catch_content :for_layout %>
    </div><!--Content Wrap End -->
  <%= partial 'common/change' %>
    <div class="hrule clear hidden "><hr /></div>
  </div><!-- Inside End -->
</div><!--Pagewrap End -->
<%= partial 'common/footer' %>
</body>
</html>

