<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
  <% unless @current_school.nil? %>
      <title><%= @current_school.school_name %></title>
  <% end %>
  
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/global.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/ui.datepicker.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/clockpick.1.2.4.css" type="text/css" media="screen" charset="utf-8" />
  
    <script src='/javascripts/prototype.js'></script>
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/ui-datepicker-1.5.2.min.js'></script>
    <script src='/javascripts/jquery.clockpick.1.2.4.js'></script>
    <script>  jQuery.noConflict(); </script>
    <script>  var $j = jQuery; </script>
        <%= include_required_js %>
   
  </head>
<body>
<div style="height:150px; background:#333;"></div>
  <div id="page-wrap"><!-- Wraps everything -->
    <div id="header"><!--The Header -->
      <% unless @current_school.nil? %>
      <h1 class="login"><%= @current_school.school_name %></h1>
      <% end %>
    </div><!--Header End -->
    <div id="content-wrap"><!--Wraps The content Area-->
      <div class="hrule clear hidden">
        <hr />
      </div>
      <div id="content" class="widen">
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    <div class="hrule clear hidden "><hr /></div>
  </div><!--Pagewrap End -->
</body>
</html>                                  
