<%= partial 'layout/main' %>
      <div class="hrule clear hidden "><hr /></div>

        <%= catch_content :for_layout %>


    <!-- Classrooms Lightbox -->
<%= partial 'common/change' %>

  <div class="hrule clear hidden "><hr /></div>
  <%= partial 'common/footer' %>
  </div><!--Pagewrap End -->
</body>
</html>