<% if @teams.empty? %>
  <h2 class="current-page">Teams
    <span class="actions"><%= link_to "Add New", url(:new_team) %></span>
  </h2>   
<% else %>
  <h2 class="current-page">Teams
    <span class="actions"><%= link_to "Add New", url(:new_team) %></span>
  </h2>   
  <table id="simple-table">
    <thead>
      <tr><td>Teams</td></tr>
    </thead>
    <tbody>
      <% for team in @teams %>
      <% s = team.class_peoples.delete_if{|x| x.role == "coach"} %>
  		        <% s.each do |f| %>
  		  <tr>
  			    <td class="1"><%= link_to "#{team.team_name}", url(:edit_team, team.id) %></td>
  			    <td class="2">Roles</td>
            <td class="3"><%= f.role %></td>
  			</tr>
  			  <% end %>
  		<% end %>   
    </tbody>
  </table>
<% end %>