<h2 class="current-page">Sports Teams &gt; <%= link_to "Add New", resource(:teams, :new) %></h2>
<% unless @teams.empty? %>
  <table id="mytable">
    <thead>
      <tr >
        <th colspan="2" scope="col">
          Teams
        </th>
      </tr>
    </thead>
    <tbody>
      <% for team in @teams %>
      <tr>
        <td><%= link_to "#{team.team_name}", resource(team, :edit) %></td>
        <td>
          <% s = team.class_peoples %>
		        <% s.each do |f| %>
		      <%= f.role %>
		    </td>
        <% end %>
      </tr>
      <% end %> 
    </tbody>
  </table>
<% end %>    
	
