<div class ='formcontainer'>
     
    <p><b> Welcome Messages > Edit </b></p>

    <%= form_for :welcomemessage, :action => url(:welcomemessage, @welcomemessage), :id => 'welcomemessage' do %>
	
         <table>
              <tr>
	          <td><%= text_area  :message,  :rows => "10", :cols => "50" %></td>
	      </tr>

              <tr>
                  <td><input type = 'button' value = 'Preview' onclick="preview();return false;" /></td>
                  <td><%= submit "Publish" %></br> Or <%= link_to "Cancel", url(:welcomemessages) %></td>
              </tr>
         </table>

     <% end =%>
    
</div>

<script type= "text/javascript">

 function preview()
 {
   var s = $('welcomemessage').serialize();
   window.open('/welcomemessages/preview/-/?' + s);
 }
  

</script>
