<% if @welcomemessages.empty? %>
     <div class = 'formcontainer'>
          <div class = 'formcontent'>
              <table>
                    <tr>
                        <td> <h3>Welcome Messages</h3></td> </br> 
	                <td> <%= link_to "Add New", url(:new_welcomemessage) %></td>
                    </tr>        
               </table>
          </div>
     </div>
<% else %>

       <div class = 'formcontainer'>
          
         <table>
                <tr>
                    <td><h3>Welcome Messages</h3></td> </br> 
	        </tr> 

                 <% for message in @welcomemessages %>
                
                          <tr>
                               <td><%= message.created_at.strftime("%B-%d-%y") %></td>
                               <td><%= message.message %></td>
                               <td><%= link_to "Edit", url(:edit_welcomemessage, message.id) %></td>
                           </tr>
                 <% end %>
	                         
         </table>
            
   
     </div>
<% end %>   
   
