<div class='formcontainer'>

       <table>
             <tr> <h4>Welcome Message</h4></tr>
             <tr>
                <td><%= params[:welcomemessage][:message] %></td>
             </tr>
        </table>
</div>
