Hello,

       <p><h4> original Feedback : </h4></p>
       <p> <%= @announcement.content %> </p><br/>
       
       <p><h4>comments by Schoolyard:</h4></p>
       <p><%= @announcement.approve_comments %></p> 
            
<p>Thank you,<br/>
<p><%= @announcement.school.school_name %></p>    

