Hello,

     Comments:
     
              <p><%= @announcement.approve_comments %></p> <br/>
      
              <p><%= @announcement.content %></p>
      
Thanks
<%= @announcement.school.school_name %>
