




Please choose the new password 

<a href="http://schoolapp.insightmethods.com<%= url(:reset_password, :id => @person.password_reset_key) %>">http://schoolapp.insightmethods.com<%= url(:reset_password, :id => @person.password_reset_key) %> </a>
