




Please choose the new password 

<a href="http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:reset_password, :id => @person.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:reset_password, :id => @person.password_reset_key) %> </a>





