




Please choose the password to login in to the school

<a href="http://localhost:4000<%= url(:password_new, :id => @parent.password_reset_key) %>">http://localhost:4000<%= url(:password_new, :id => @parent.password_reset_key) %> </a>
