




Please choose the password to login in to the school

<a href="http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:password_new, :id => @parent.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:password_new, :id => @parent.password_reset_key) %> </a>
