Hello <%= @announcement.person.name %>,

      <p>Thanks For your FeedBack</p> 
      <p><h4> Original Feedback provided by you : </h4></p>
      <p> <%= @announcement.content %> </p>
         
       <p><h4>comments by School Yard:</h4></p>
       <p><%= @announcement.approve_comments %></p><br/>

<p>Thank you,<br/>
<p><%= @current_school.school_name %></p>

