Hello <%= @announcement.person.name %>

   <p><%= @announcement.approve_comments %></p><br/>

  <p> 
      <h3> Original Feedback from you.</h3> 
       <%= @announcement.content %>  
  </p>
   

Thanks
<%= @current_school.school_name %>
