


Please click the link to get an approval or rejection from the school

<a href="http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:registration_last, :id => @parent.id) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:registration_last, :id => @parent.id) %> </a>




