


Please click the link to get an approval or rejection from the school

<a href="http://schoolapp.insightmethods.com <%= url(:registration_last, :id => @parent.id) %>">http://schoolapp.insightmethods.com<%= url(:registration_last, :id => @parent.id) %> </a>
