%div{:id => "register"}
  %h1
    Password reset - please check your email
  %p
    The instructions to reset your password have been sent to
    = @person.email
  %p
    = link_to "&larr; Back to login page", url(:login)
