%div{:id => "register"}
  %h1 Sent for Approval
  %div{:class => "register-steps2"}
    %img{:src => "/images/register-step2.gif", :alt => "Step 2 of 3" }
  %p
    Hello
    = @parent.name
  %p Thank you for completing the second step of the registration process.
  %p Your registration has been submitted for review. You shall receive an email once it has been approved.