%div{:id => "register"}
  %h1 Thank you, please check your email
  %p
    Hello
    %b
      = @parent.name
  %p
    A confirmation link has been emailed to you at
    %b
      = @parent.email
    Your application shall be sent for approval once you click that link.
 