

<div id="fullpage">

  
<h2 class="current-page">SpotLight for <%= params[:spot_light][:class_name] %> </h2>

    <div class="data-block short-block">
	     <h3><%= params[:spot_light][:student_name] %></h3>
		 <br class="clear"/>
         <p class="post-content"><%= params[:spot_light][:content] %></p>
	</div>
         <br class="clear"/>
         <p class="separator">&nbsp;</p>

   <p><b>Note : images do not appear in preview of SpotLight</b></p>

</div>