<% if @alert.nil? %>
  <div class='formcontainer'>
    <div class='formcontent'>
      <table>
        <tr>
          <td>
            <h3>
              Alert Settings
            </h3>
          </td>
          <td>
            <%= link_to "Add New", url(:new_alert) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% else %>
  <div class='formcontainer'>
    <table>
      <tr>
        <td>
          <h3>
            Alert Settings
          </h3>
        </td>
        <td>
          <%= link_to "Edit", url(:edit_alert, @alert) %>
        </td>
      </tr>
        <% Alert.alert_msgs.each do |key, value|  %>
            <% if @alert.send(key) %>
              <tr>
                <td><%= value %></td>
              </tr>
            <% end %>
        <% end %>
    </table>
  </div>
<% end %>

