<% if @alert.nil? %>
     <div class = 'formcontainer'>
          <div class = 'formcontent'>
              <table>
                    <tr>
                        <td> <h3>Alert Settings</h3></td> </br> 
	                <td> <%= link_to "Add New", url(:new_alert) %></td>
                    </tr>        
               </table>
          </div>
     </div>
<% else %>
      <div class = 'formcontainer'>
          
         <table>
                <tr>
                    <td> <h3>Alert Settings</h3></td> </br> 
	            <td> <%= link_to "Edit", url(:edit_alert, @alert) %></td>
                </tr> 

                    <% if (@alert.announcement_alert == true) %>
                         <tr><td>New Announcement is Posted</td></tr>
                    <%  end %>
                    <% if (@alert.event_alert == true) %>
                        <tr><td>New Event is Posted</td></tr>
                    <%  end %>
                    <% if (@alert.message_alert == true) %>
                        <tr><td>New Message is Posted</td></tr>
                    <% end %>
                    <% if (@alert.file_alert == true) %>
                        <tr><td>New File is Posted</td></tr>
                    <% end %>
                             
         </table>
            
   
     </div>
<% end %>   
   
