<div class="right-sidebar">
    <h3>External Links</h3>
    <% titles = params[:external_link][:title] %>
    <% url = params[:external_link][:url] %>
    <% s = titles.zip(url) %> 
    <% if params[:links] %>
        <% t = params[:links][:title] %>
        <% u = params[:links][:url] %>
        <% links = t.zip(u) %>
    <% end %>
    <ul class="last"> 
      <% s.each do |f| %>
           <% if @edit == "0" %>
                <% a = f.flatten %>
                <li><%= link_to ("#{a[1]}", "http://#{a[3]}", {'target' => '_blank'}) %></li>
           <% else %>
                <li><%= link_to ("#{f[0]}", "http://#{f[1]}", {'target' => '_blank'}) %></li>
           <% end %>      
       <% end %>
       <% if params[:links] %>
           <% links.each do |p| %>
               <% a = p.flatten %>
               <li><%= link_to ("#{a[1]}", "http://#{a[3]}", {'target' => '_blank'}) %></li>
           <% end %>
       <% end %>
    </ul>
</div>
