<%= error_messages_for @school %>

<div class = 'formcontainer'>
   <table>
          <p> School Profile > Edit </p>
	  
    <%= form_for :school, :action => url(:school, @school) do %>
       
       <%= partial 'form' %>
        
    <% end =%>
        
</div>
