<%= error_messages_for @school %>
<fieldset>
  <h2 class="current-page">School Profile &gt; Edit</h2>
  <%= form_for :school, :action => url(:school, @school) do %>
  <%= partial 'form' %>
  <% end =%>
</fieldset>
