<fieldset>
  <% if @current_school.nil? %>
  <h3>School Profile</h3>
	<p>"Basic Settings are not specified, <%= link_to "Add Now", resource(:schools, :new) %>"</p>
  <% else %>
  <h2 class="current-page">School Profile<%= link_to "Edit", resource(@current_school, :edit), :class=> "edit-btn" %></h2>
  <dl>
    <dt>School Name</dt>
    <dd><%= @current_school.school_name %></dd>
  </dl>
  <h5>Contact Information For Parents</h5>
  <%= partial 'common/contact' %>

  <% end %>
</fieldset>
  <hr size="1"/>
