<%= error_messages_for @school %>
<h2 class="current-page">School Profile > New</h2>
<fieldset>
<%= form_for(@school, :action => resource(:schools), :name => "school") do  %>
    
         <%= partial 'form' %>

     <% end =%>
</fieldset>
