<h2 class="current-page">Students > Preview</h2>
 
   <table id="mytable"  cellspacing="0" cellpadding="0">
       <thead>
         <th>Last Name</th>
         <th>First Name</th>
         <th>Contact Number</th>
         <th>Address</th>
       </thead>
        <tbody>
            <tr>
                <td>&nbsp;<%= params[:student][:last_name] %> </td>
                <td>&nbsp;<%= params[:student][:first_name] %></td>
                <td>&nbsp;<%= number_to_phone(params[:student][:phone], :area_code => true) %></td>
                <td>&nbsp;<%= params[:student][:address] %></td>
            </tr>
        </tbody>
    </table>