<h2 class="current-page">
     Grades/Reports > Add Grade's Definition 
</h2>

<div class="container">
	<h4>There are some errors in the form, please fill the details.</h4>
	<ol>
		  <li><label for="rank[from][]" class="error">Please enter the number and it should be minimum value of 0</label></li> 
	    <li><label for="rank[to][]" class="error">Please enter the number and it should be maximum value of 100</label></li>
	</ol>
</div>

<span class="subText">
      These changes affect only the future reports
</span><br/><br/><br/>

<fieldset>

     <%= form_for(@report, :id => "rank", :action => resource(:ranks), :class => "cmxform", :onsubmit => "ClearAll()" ) do %>
     
         <%= partial 'rank' %>
         
         <a href="#"  class="add-more"  onClick="testing(); return false;">Add More</a>
         
         <div class="save-cancel">
             <%= submit "save" %> Or  <%= link_to "Cancel", resource(:reports), :class => "cancel" %>
         </div>
     
     <% end =%>

</fieldset>



<script type= "text/javascript">

  id = 1
   function testing()
   {
        var ul = document.getElementById('ranking')
        $j(ul).append("<li id='row" + id + "'><input type='text' class='short text number' name='rank[name][]' id='txt" + id + "'><input type='text' class='short apart text' min='0' name='rank[from][]' id='txt" + id + "'><input type='text' class='short apart text' max='100' name='rank[to][]' id='txt" + id + "'><a href='#' class='delete-btn' onClick='removeFormField(\"#row" + id + "\"); return false;'></a></li>");
        id = (id - 1) + 2;
   } 
    
  function removeFormField(id) 
  {
     $j(id).remove();
   }

function ClearAll()
  { 
     var r = document.getElementById('rank');
     var pr =  r.getElementsByTagName('input');
     for (var r=0;r<pr.length;r++)
     {
         if (pr[r].value == pr[r].title)
          {
            pr[r].value = "";
          }
     }

  }


// Validation for Adding Grades Definitions

var container = $j('div.container');

// validate the form when it is submitted
var validator = $j("#rank").validate({
	errorContainer: container,
	errorLabelContainer: $("ol", container),
	wrapper: 'li',
	meta: "validate"
});


// Default Text on focus

  $j(document).ready(function()
      {
          $j(".defaultText").focus(function(srcc)
          {
              if ($j(this).val() == $j(this)[0].title)
              {
                  $j(this).removeClass('defaultTextActive');
                  $j(this).val("");
              }
          });

          $j(".defaultText").blur(function()
          {
              if ($j(this).val() == "")
              {
                  $j(this).addClass("defaultTextActive");
                  $j(this).val($j(this)[0].title);
              }
          });

          $j(".defaultText").blur();        
      });

   
       
</script>