<%= error_messages_for @person %>

<p> Add/Edit Access Rights </p>

<div class='formcontainer'>

    <%= form_for :person, :action => url(:people), :id => 'people', :name => 'people_form' do %>

        <%= partial 'form' %>
       
	 
    <% end =%>
    
</div>
