class Schoolapp
  
  @@common_config = {
    :auth_mailman      => 'noreply@schoolyardapp.com',
    :mailman_password  => '2LCJmpsHqFe9DUyefFRBL',
    :bc_user => "eshwar.gouthama", 
    :bc_password => "ashwini",
    :twilio_account_id => "ACaccbef6e62668da72003aea3ec585f89",
    :twilio_account_token => "169a19fa5941cd4d002231beaa870b0b",
    :twilio_api_version => "2008-08-01",
    :caller_id => "530 554 1373",
    :clickatell_user => "brianbolz",
    :clickatell_password => "brianbolz1",
    :clickatell_api => 3175693",
    :exception_to_address => "it@schoolyardapp.com"
  }
  
  @@development_config = {
    :app_domain  => 'schoolyard.in:4000'
  }
  
  @@test_config = {
    :app_domain  => 'schoolyard.in:4000'
  }
  
  @@rake_config = {
    :app_domain => 'schoolyard.in:4000'
  }
  
  @@internal_testing_config = {
    :app_domain  => 'dev-schoolyardapp.info'
  }
  
  @@staging_config = {
    :app_domain  => 'test-schoolyardapp.info'
  }
  
  @@production_config = {
    :app_domain   => 'schoolyardapp.com'
  }
  
  def self.config(of)
    if defined?(Merb) && Merb.respond_to?(:env)
       class_eval("@@common_config.merge(@@#{Merb.env}_config)")[of.to_sym]
    else
       class_eval("@@common_config.merge(@@production_config)")[of.to_sym]
    end
  end
  
end
