<% @captures = @current_school.captures.find(:all) %>

<% @captures.each do |f| %>
      <% @tasks = @current_school.tasks.find(:all, :conditions => ['capture_id = ?', f.id ] ) %>
   	  <% @tasks.each do |t| %>
			      <% @people_tasks = t.people_tasks.find(:all, :conditions => ['person_id = ?', session.user.id]) %>
			      <% if f.school_staff == true %>
			            <% unless session.user.type == "Parent" %>
			       	        <li <% if @selected == "#{f.title}" %> class="on" <% end %> > 
			                   <%= link_to "#{f.title}", resource(:tasks, :new, :id => "#{f.id}") %>
			                </li>
			            <% end %>
			      <% else %>
			            <li <% if @selected == "#{f.title}" %> class="on" <% end %> > 
			       	        <%= link_to "#{f.title}", resource(:tasks, :new, :id => "#{f.id}") %>
			            </li>
			      <% end %>
            <% @tasks.delete_if{|x| x != t } %>
	    <% end %>
<% end %>

