   <%= partial 'layout/main' %>
    <div id="content-wrap"><!--Wraps The content Area-->
      <div class="hrule clear hidden "><hr /></div>
        <%= catch_content :for_layout %>
    </div><!--Content Wrap End -->
    
<%= partial 'common/change' %> 
      
    <!--Right Sidebar to be inserted here-->  
     
               
  <div class="hrule clear hidden "><hr /></div>
  </div><!--Pagewrap End -->
  <%= partial 'common/footer' %>
  <script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script> <script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-8953231-1"); pageTracker._trackPageview(); } catch(err) {}</script>
</body>
</html>
      
