@charset "utf-8";
/*Development Stage CSS - To be Optimized*/

/*-------------Table Of Contents------------!!!

    01. Reset
    02. Base Layout
      b.Generic Links
    03. Header
    04. User Control Panel
    05. Sidebar Menu
    06. Navigation
    07. Breadcrumbs
    08. Tables-1
    09. Tables-2
    10. Forms
    11. Right Sidebar
    
!!!-----------------------------------------*/

/* Full Reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, caption {margin:0; padding:0; border:0; outline:0; font-weight:inherit;	font-style: inherit; font-size: 100%; font-family:inherit; vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1; color:black; background:white;}
ol, ul{list-style:none;}
table{border-collapse:separate; border-spacing:0;}
caption, th, td{text-align:left; font-weight:normal; vertical-align:top;}
blockquote:before, blockquote:after,q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
td{vertical-align="top"}

  /*End Reset*/




/*Base Layout*/
html, body{height:100%;}
#page-wrap{min-height:100%}
body{ font:12px/16px "lucida grande","Lucida Sans Unicode",tahoma,verdana,arial,sans-serif; background:url(/images/header-bg.gif) repeat-x;}
body.fixed-width{width:100%;}
/*#page-wrap{width:980px}*/
  /*Wraps Everything*/
#content{ width:450px; float:left; margin-left:1em; min-height:500px; margin-right:20px;}
.homes-content{width:420px!important;min-width:420px!important; padding:12px;}
.homes-content .post-content{width:420px;}
.homes-content .long-block{width:420px;}

#content.one-col{padding:20px}
.widen{width:600px!important;}
  /*The center Content Area*/
#sidebar{float:left; clear:both; width:232px;}
.left-block{width:240px;}
  /*Left Side Menu. term 'Sidebar' defaults for LEFT SIDEBAR/MENU*/
#content p{font-size:13px; padding:.5em 0 .5em 0;}
#content-wrap{float:left; padding:0 0 0 30px; margin:20px 0 0 0; min-width:500px;}
  /*Wraps the content section*/
#fullpage{width:700px;}



/*Generic*/
a{color:#445978; text-decoration:none; }
a:link{color:#1a3e8f;}
a:visited{color:#445978;}
a:hover{color:#08225c; text-decoration:underline;}
a:active{color:#000;}
.fltlft{float:left;}
.fltrt{float:right;}
.clear{clear:both; height:0;font-size: 1px;line-height: 0px;}
.empty-li{visibility:hidden; height:0px!important; padding:0!important;}


h2 {font-size:120%; font-weight:bold; padding:10px 0; border-bottom:1px solid #ebebeb; }
h3{font-size:120%; font-weight:bold; padding:4px 0; margin:0 0 8px 0; }
h2.current-page{font-size:12px; font-weight:bold; padding:4px 0; margin:0 0 8px 0; border-bottom:1px solid #e8e8e8;}
h2.current-page .edit-btn{float:none; margin:0 0 10px 16px;}

h2 span.actions {padding-left:12px; font-weight:normal;}
h2 span.actions a{font-weight:normal;}

dl{width:480px; float:left; padding:4px 0; margin:4px 0; }
dt{width:120px; padding:4px 0; margin:0 3px 0 3px; float:left; }
dd{width:300px; padding:4px 0; float:left; }

/*dl.check-box-set{ margin:0 0 0 180px;}*/
dl.check-box-set dt{width:38px; padding:0; margin:0; text-align:right; clear:both;}
dl.check-box-set dd{width:420px; padding:4px 0; margin:0 0 0 12px;}

dl.check-box-set.origin{margin-left:0;}

.save-cancel{padding:12px; border-top:4px solid #e8e8e8; margin-top:8px; clear:both;}
.add-link {margin:0 12px;}


h5{float:left; width:480px; font:bold 12px/14px "lucida grande","Lucida Sans Unicode",tahoma,verdana,arial,sans-serif; margin:6px 0;}

fieldset td label{display:block; width:120px;}


/*Header*/
#header{position:relative;}
#header h1{width:600px; padding:12px 0 0px 20px; height:26px; position:relative; border:none;}
#header h1 span{width:100%; height:100%; position:absolute; top:0; left:0; display:block;}
  /*In case of School Logo, if any, do a Background-image on the span*/
#header h1 a{font-size:16px; color:#157172; text-decoration:none; font-weight:bold;}
#header h1 a:hover{border-bottom:1px solid #2f8843;}
#header .school-contact{padding:0 0 12px 20px;margin:-5px 0 0 0; color:#666;}
#navbar {border-bottom:1px solid #ebebeb;}


/*User Control Panel Section*/
#user-cp{position:absolute; top:6px; right:6px;}
#user-cp .welcome{position:relative; top:-12px;}
#user-cp ul li{display:inline;}
#user-cp{float:right; background:url(/images/usercp-bg.gif) no-repeat top center; font-size:11px; padding:10px; width:302px; margin-top:6px;}
#user-cp p{float:left; padding:0 6px 0 12px; color:#949490;}
#user-cp em{font-style:normal;}
#user-cp ul{float:right; margin-right:10px; display:inline;}



  /*[Display] To fix IE6 doubled float margin*/
#user-cp ul li{display:inline; border-left:1px solid #ccc; padding-left:3px; }
#user-cp ul li.first{border:none;}
#user-cp a:hover{color:#000;}




/*Sidebar Menu*/
ul#menu{ padding:16px 16px 0 16px; width:200px; font-size:12px; line-height:18px;}
ul#menu a{text-decoration:none; border-bottom:1px dotted #ccc;display:block;}
ul#menu li{padding:4px 0 4px 10px;margin:0 0 0 10px;}
ul#menu li ul{margin:2px 0 4px;}
ul#menu li ul li{font-weight:normal; padding:0;}
ul#menu li ul li a{display:block; width:100%; padding:2px 0 4px 0; border-bottom:1px dotted #ccc; color:#486290;}
ul#menu li ul li a:link{}
ul#menu li ul li a:visited{color:#7e91b3;}
ul#menu li ul li a:hover{text-decoration:underline}
ul#menu li ul li a:active{color:#1b67ed;}

  /*That yellow dot which contains numbers*/

#menu .change{border-top:1px solid #ccc;border-bottom:1px solid #ccc; padding:13px 10px; }
#menu .change a {border:none;}
/* Top Navigation*/
#navigation{font-size:12px; margin-left:60px; position:relative; top:1px;} 
  /* Positioned Top:1px To create the open end bottom for Current Li*/
#navigation li{display:inline;}
  /* Layout Rules for navigation*/
#navigation li a{float:left; padding:0 0 0 20px; margin:0 4px 0 0; text-decoration:none; color:#285564;}
#navigation li a span{float:left; display:block; padding:7px 20px 5px 0px; cursor:pointer;}
  /*Background*/
#navigation li a{background:url(/images/nav-bg.gif) no-repeat left top;}
#navigation li a span{background:url(/images/nav-bg.gif) no-repeat right top;}
  /*Hover*/
#navigation li a:hover{background:url(/images/nav-bg-hover.gif) no-repeat left top;}
#navigation li a:hover span{background:url(/images/nav-bg-hover.gif) no-repeat right top; color:#000;}
  /*Active*/
#navigation li a:active{background-image:url(/images/nav-bg-active.gif);border-bottom:1px solid #a8c2da;}
#navigation li a:active span{background-image:url(/images/nav-bg-active.gif);color:#000; } 
  /*Current*/
#navigation li.current a{color:#999; background-image:url(/images/nav-bg-current.gif); color:#000; border-bottom:1px solid #fff;}
#navigation li.current a span{background-image:url(/images/nav-bg-current.gif); cursor:pointer;}
  /*Admin's*/
#navigation li a.admin{color:#999; background-image:url(/images/nav-bg-admin.gif); color:#000; border-bottom:1px solid #fff;}
#navigation li a.admin span{background-image:url(/images/nav-bg-admin.gif); color:#000;}
  /*Admin + Hover*/
#navigation li a.admin:hover{background-image:url(/images/nav-bg-admin-current.gif);border-bottom:1px solid #eafff1;}
#navigation li a.admin:hover span{background-image:url(/images/nav-bg-admin-current.gif); color:#000;}
  /*Admin + Current*/
#navigation li.current a.admin{background-image:url(/images/nav-bg-current.gif);}
#navigation li.current a.admin span{background-image:url(/images/nav-bg-current.gif); cursor:pointer;}
  /*Admin + Current + Hover*/
#navigation li.current a.admin:hover{}
#navigation li.current a.admin:hover span{}/*------------------Whoa! that was fun!!*/




/*Breadcrumbs*/
#crumbtrail{margin:0 0 4px 0; padding:0 0 4px 4px; font-size:13px; border-bottom:1px solid #e8e8e8; }
#crumbtrail li{display:inline;padding:0 2px 0 0px;}
#crumbtrail span{padding:0 2px 0 6px;}
#crumbtrail a{text-decoration:none;}
#crumbtrail a:hover{text-decoration:underline;}




/*Horizontal Rule
.hrule{height:0; border-bottom:1px solid #e8e8e8;}*/
.hrule hr{display:none;}

.hidden{visibility:hidden;}
.dashed{border-bottom:1px dashed #e8e8e8;}
.separate{margin:8px 0;}
.semi-short{width:120px!important;}
.short{width:100px!important;}
.apart{margin-left:6px;}
.apart4{margin-left:4px;}
input.long{width:200px}

#am1, #am2, #am3, #am4{padding:10px 10px; border-top:1px solid #eee; margin-top:10px; clear:both;}
fieldset ul{padding-top:8px;}



/*Tables*/
#mytable {border-left:1px solid #C1DAD7;padding:0; margin:10px 0 20px 0; font-size:12px; }/*Set Table width here if needed*/
#mytable caption{padding: 0 0 5px 0; font:italic 11px Arial, Helvetica, sans-serif; text-align:right;}
#mytable th {font-weight: bold; font-size:11px; color:#4f6b72; border: 1px solid #c1dad7; border-left:0; 
  letter-spacing: .01em; text-transform:uppercase; text-align: left; padding:6px 12px; 
  background:#cae8ea url(/images/mytable/bg_header.jpg) no-repeat;}
#mytable th.thead1, #mytable th.thead2{border-left: 1px solid #c1dad7; border-top: 0; 
  background: #fff url(/images/mytable/bullet1.gif) no-repeat; font:normal 10px Arial, Helvetica, sans-serif;}
#mytable th.thead2{background: #f5fafa url(/images/mytable/bullet2.gif) no-repeat; color: #797268;}
#mytable th.firsthead{border-left:1px solid #C1DAD7;}/*First TH*/
#mytable td{border-right:1px solid #ecfef1; border-bottom:1px solid #ecfef1; background:#fff; padding:6px 6px 6px 8px; color: #4f6b72;}
#mytable td.alt{background: #f5fafa; color: #797268;}/*Zebra style*/
#mytable tbody tr:hover td{background-color:#ecfef1;}
#mytable .click-block{padding:0!important}
.click-block a{display:block; padding:6px 6px 6px 12px;}


  /*Simple Table*/
#simple-table{width:480px; padding:0; margin:0 0 20px 0; border: 1px solid #69c;
  font-family:"lucida grande","Lucida Sans Unicode",tahoma,verdana,arial,sans-serif; font-size: 12px;  
  text-align: left; border-collapse: collapse; }
#simple-table caption{padding:0 0 5px 0; font:italic 11px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:right;}
#simple-table th{padding:15px 10px 10px; font-weight: normal; font-size: 13px; color:#003399;}
#simple-table tbody{background:#e8edff none repeat scroll 0% 0%;}
#simple-table td{border-top:1px dashed #fff; padding:10px; color:#669;}
#simple-table tbody tr:hover td{background:#d0dafd none repeat scroll 0% 0%; color:#333399;}



/*Forms*/
fieldset{ margin-bottom:10px; padding-bottom:10px;}
fieldset h3{margin-bottom:16px; border-bottom:1px solid #e8e8e8; padding-bottom:6px; font-size:13px; color:#486290;}
fieldset h4{margin-bottom:16px; font-size:12px; color:#486290;}
fieldset li{display:block; float:left; padding-bottom:10px; width:480px;}

.text{ border:1px solid #9e9e9e; padding:2px; font-size:13px; line-height:15px;}

#class-room input,input.text{display:block; width:280px; float:left; border:1px solid #9e9e9e; padding:2px; font-size:13px; line-height:15px;}
fieldset label{display:block; width:180px; padding:0 10px 0 0 ; float:left;}
fieldset span.hint{display:block; float:left; width:184px; padding:4px 6px 0 0; color:#949494;}
fieldset textarea{display:block; width:280px; float:left; border:1px solid #9e9e9e; padding:3px 2px; height:300px;font:normal 13px/15px "lucida grande","Lucida Sans Unicode",tahoma,verdana,arial,sans-serif;}
fieldset select{width:144px; border:1px solid #9e9e9e; padding:2px 0;}
  /*Want the labels Right Aligned?
  fieldset label{ text-align:right;}
  fieldset span.hint{text-align:right;}*/
  
fieldset #checkboxes{width:480px;}
fieldset #checkboxes span.check-all{float:left;}
fieldset label.check-label{display:inline; float:none;}/*Overriding the Generic Fieldset Labels*/

#checkboxes #check-fields{ float:left;}
#checkboxes span.check-all{float:left; display:block;}

#checkboxes #check-fields span{display:block;}

/*Rules for Right Sidebar*/
.right-sidebar{ line-height:15px; width:200px; float:left; margin:30px 0 0 20px; padding:0px 0px 0px 30px ;}
.right-sidebar h3{font-weight:bold ; background:url("/images/right-sidebar-top.gif") no-repeat top center; padding:12px; margin:10px 0 0 0; min-height:15px;}
.right-sidebar .last{background:url("/images/right-sidebar-bottom.gif") no-repeat bottom center; border-top:1px solid #becfdb; }
  /*Styles applied to these three elements provide chrome for the right sidebar*/

.right-sidebar h3 span.main{float:left;}
.right-sidebar h3 span.desc{float:right; font-weight:normal; font-size:75%;}

.right-sidebar p{padding:10px 8px 10px 12px}

.right-sidebar ul{padding:10px 8px 6px 10px;}
.right-sidebar ul li{padding:0 0 6px 10px; background:url("/images/bullet-dash.gif") no-repeat left top;}
.right-sidebar ol{padding:10px 8px 6px 20px; list-style:decimal inside;}
.right-sidebar ol li{padding:0 0 6px 0;}
.right-sidebar li.noBullet{list-style:none; padding: 8px 0 0 10px; color:#666;}

.email-alerts li{margin:10px 0 0 30px; padding:3px 0 3px 20px; background:url"(/images/bullet-dash.gif") no-repeat left center; border-bottom:1px dotted #eee;}


#footer{clear:both; padding:10px 10px 30px 10px; text-align:center; border-top:1px solid #ccc; margin:150px 0 40px 0;
  position:absolute; left:20px; right:20px;
  }

.lightbox{width:480px; border:10px solid #ccc; padding:20px; margin:10px 0;}
.lightbox .close{float:right}
.lightbox form{width:480px;}

/*Error msg, cancel*/
.cancel{padding:0 8px; color:#eb3f2c!important; }
span.cancel a{color:#eb3f2c;}
span.cancel a:hover{text-decoration:underline;}
.enable{color:#169609!important; background:#fff url(/images/check.png) no-repeat left 50% !important; text-transform:lowercase;}
.remove{color:red!important; padding:0 12px; text-transform:lowercase;}
.twitter-textarea{color:#AA3333!important; background:#fff no-repeat left 50% !important; text-transform:lowercase;}
/*End Now*/

/*Data Block*/
.data-block{padding:8px 0;}
.short-block{width:480px;}
.long-block{width:640px;}
.left-block .long-block{width:230px; padding:5px;}
.post-content{width:445px; float:left;}

.data{width:300px;}
.ddmmm{width:36px; height:48px; border:1px solid #C1DAD7; margin:6px 10px 10px 0; float:left;}
.ddmmm .date{display:block; text-align:center; padding:5px 0 6px 0; font-size:14px; font-weight:bold; color:#333}
.ddmmm .month{display:block; text-align:center; background:#f5fafa; padding:2px 0;font-size:12px; border-top:1px solid #C1DAD7;}
.ddmmm-x{width:36px; height:42px;margin:0px 10px 10px 0; float:left; visibility:hidden;}
.edit-btn, .delete-btn, .deactive, .reactive{width:50px; padding:10px 0 10px 20px; margin:0 10px;}
.edit-btn{background:url(/images/edit-btn-bg.gif) no-repeat 0 50%;}
.deactive{background:url("/images/ico_deactivate.gif") no-repeat 0 50%; color:red;}
.reactive{background:url("/images/ico_activate.gif") no-repeat 0 50%; color:#169609;}


.add-more{padding:8px 0 0 0;}

.delete-btn{background:url(/images/delete-btn-bg.gif) no-repeat 0 50%;}

.data-block .data{float:left;}
.data-block h3{font-weight:bold; margin:0px;}
.data-block h3 a { margin:6px 0 12px 0!important;}
#content h3 a{margin:0 0 0 10px;}
.data-block li{padding:0 0 4px 0;}

.external-links ul{clear:both; margin-bottom:20px;}
.external-links ul li{text-indent:16px; }
.external-links ul li a{display:block; border-bottom:1px solid #fcfcfc; padding:4px 0 2px 0;  background:url(/images/link-bullet.gif) no-repeat left center;}
.external-links ul li a:hover{background: url(/images/link-bullet-hover.gif) no-repeat left center;}

ul.edit-ext-links li{position:relative; float:left; clear:left;}
ul.edit-ext-links .delete-btn{padding:4px 0 4px 20px; position:absolute;top:0; right:-72px; text-indent:-9999px;}
ul.edit-ext-links li{background:url(/images/link-bullet.gif) no-repeat left center; padding-left:16px;}

.external-links .section{width:180px; margin: 0 10px 0 0px; float:left; clear:none; border-right:1px dashed #e8e8e8; padding:8px;}
.section h4, .section em{font-weight:bold;}
.section h4 {position:relative; margin-bottom:16px;}
.section h4 .edit-btn{padding:4px 0 4px 20px; font-weight:normal; position:absolute; top:0; right:0;}


.external-links div.dashed{padding:0 0 12px; margin:12px 0;}


#errors ul, ul.error_messages{ color:red; margin:4px 0 10px 0; }
#errors ul li , ul.error_messages li{padding:10px;  text-indent:12px; float:none; background:url(/images/exclamation-bullet.gif) no-repeat left center;}

.announcemt select{width:200px;}
.announcemt{width:700px!important;}
.select-announce{padding:10px 0 20px 0; display:block;}
.announce-for-page{float:right; padding:6px; position:relative; top:-24px; background:#fff;}



.calendar-block{float:left; clear:left; padding:2px 0;}
.calendar-block h3{Background:#aaaaff; padding:6px; background:#f4f4f4; font-size:100%;}
.calendar-block h3.today{background:#ff7b00; color:#fff;}
.calendar-block a{padding:2px 0 2px 18px!important;}
.calendar-block .cal-time{display:block; width:100px; float:left;}
.cal-title{float:left; display:block; width:240px;}
ul.calendar-items{clear:both;}
ul.calendar-items li{clear:both; display:block; width:480px; float:left; padding:4px 0 2px 2px;}
ul.calendar-items small{color:#666;}

.defaultText { width: 300px; }
.defaultTextActive {color:#a1a1a1; font-style: italic!important; }
#.esh {color:black!important;}
.phone-hint{color:#a1a1a1; padding:0 6px;}
.css_class{border-bottom: solid 2px #000;}
.on a{ color:black!important; background:url("/images/arrow-right.gif") right no-repeat; font-weight:bold; padding:0 10px 0 0;}

ul#menu li span, .on a span {background:url("/images/menu-count.gif") no-repeat left top; padding:0px 0px 2px 4px;color:#fff;}
ul#menu li span b, .on a span b{background:url("/images/menu-count.gif") no-repeat right top; padding:0px 4px 2px 0px;}


/*Revisited extras @Rmax*/
#divTxt{border-top:1px solid #eee; clear:both; padding-top:10px;}
#divTxt li input{margin-right:4px;}
.count span{float:right;position:relative;top:-21px;}
.add-more-block{display:block; padding:8px 0;}

#mytable td .edit-btn, #mytable td .delete-btn{float:none;}

table.sports-teams {line-height:16px;}
table.sports-teams .team-name{font-weight:bold; font-size:14px; display:block; border-bottom:1px solid #eee; padding-bottom:4px;margin-bottom:3px;}
span.sports-faculty-list{display:block;}
span.sports-faculty-list .role{}
span.sports-faculty-list .name{font-weight:bold;}
.divider{border-bottom:1px solid #eee; height:4px; margin-bottom:4px;}

.deactivate{background:#fff url(/images/delete-btn-bg.gif) no-repeat 0 50%; padding:4px 4px 4px 20px; }

h1.login {font-size:160%;color:#1a3e8f;}
.logbox{ padding:4px; font-size:110%;}
.logbox input {font-size:110%;}
.logbox h3{background:#e2ebf0; padding:8px!important; margin:0 0 20px 0;}

fieldset.logbox  li{width:400px; margin: 0 20px;}
.reg-forgot span a{margin:0px; padding:4px;}
.reg-forgot {border-top:1px solid #eee;padding:10px 0px;}

.reg-step2{padding:20px; margin:20px;}

.spotlight-list li{padding:5px 0; border-bottom:1px solid #eee; list-style:disc inside;}

.announce-for{padding:3px 0; border-bottom:1px solid #eee; margin:0 0 3px 0; width:640px;}
.approval-status{float:right; padding:10px 0 10px 20px; background:url(/images/approve.gif) no-repeat 0 50%;}
.approved-or-not{padding:6px 0 6px 20px; display: block; background:url(/images/approve.gif) no-repeat 0 20%;}
.approve-comments, .reject-comments{ padding:20px 20px 20px 20px; border:1px solid #eee; margin-left:30px;}


/*Home*/
.all-articles{padding:8px; display:block;}
.bottom-link{padding:8px; display:block;}
#facebox .content ul{ padding:4px 0 0 30px;}
#facebox .content ul li{list-style:square outside; margin:4px 0;}
#facebox .content ul li a{display:block;}
#facebox .content p{padding:4px 0 0 8px;}

.phone-hint{float:left; padding:0 6px;}

form#welcome_message{padding:10px 0;}

/*Attachments*/
.attachment{padding:0 0 0 20px; background: transparent url('/images/attach.gif') no-repeat left top;}
ul#pending_files li{background: transparent url('/images/attach.gif') no-repeat left 4px; padding:3px 3px 3px 22px;}
ul#pending_files li a{padding:0 10px; color:#f00; text-transform:lowercase;}
/*Preview*/
.preview-container{}
.preview-container{width:500px;margin:50px auto; padding:10px 20px 20px 20px; background:#f2f2ff;  border-bottom:6px solid #eef;  border-top:6px solid #eef;  }
.preview-container h5{float:none;} 
.preview-container h4{border-bottom:1px solid #bbc; padding-bottom:4px; margin-bottom:12px;}
.preview-container h4 span{position:relative; top:10px; background:#f2f2ff; padding:0 4px 0 0;}
.preview-container dd{font-weight:bold; border-bottom:1px solid #e3eaf6;}
.preview-container dt{text-align:right; margin-right:12px; border-bottom:1px solid #e3eaf6;}

.indent{margin-left:10px;}

.previewWrapper{padding:40px;}
.previewWrapper .hrule{padding:10px; text-align:center; border-top:1px solid #ccc;}

.separator {border-bottom:1px dashed #e8e8e8; padding:10px 0;}
td.separator{padding:8px;}
.subLink {padding:0 10px;}


#menu1{text-align:center;}
.className{padding:5px; text-align:center; background:#008948; color:#fff; font-weight:bold;}

.classNameLeft {width:40px; background:#008948 url("/images/class_name_background.png") left top; height:40px; }


.classTitle , .classStaff{ border:solid #008948; border-width:0 1px; background:#008948; width:80%; color:#fff; font-weight:bold; text-align:center; margin:15px auto;}
.classTitle div , .classStaff div { position:relative; top: -1px; left: 0;border:solid #008948; border-width:1px 0 0;}
.classTitle div div, .classStaff div div {top: 2px; border-width:0 0 1px; padding: .3em .3em .1em;}

.classStaff{background:#FF7B00; border: #FF7B00; margin:20px auto;}
.classStaff div {border: #FF7B00;}

.subText, .noText{color:#666;}
.noText {font-style:italic;}


.class-name, .teach-name {margin:0px 5px 10px 40px;}
.class-name-backgr, .teach-name-backgr {background:url("/images/class-name-backgr.gif"); text-align:center; font-weight:bold; color:#fff; width:154px; padding:0px;}
td.class-name-top, td.class-name-bottom, td.teach-name-top, td.teach-name-bottom {height:9px; padding:0px; margin:0px; line-height:1px;} 

.teach-name {font-size:80%;}
.teach-name-backgr {background:url("/images/teach-name-backgr.gif"); }
 {height:9px; padding:0px; margin:0px; line-height:1px;} 


.page-links{text-align:center;padding:10px;}
.page-links a{padding:4px;}
.teacherPic{width:124px;}
.prinPic{width:220px;}
/* Registration*/
.register-steps {float:left; margin:-72px 0 0 15em;}
.register-steps2 {float:left; margin:-72px 0 0 20em;}
.register-steps3 {float:left; margin:-72px 0 0 27em;}
#register h1 {font-size:200%; padding:10px 0; border-bottom:1px solid #ccc; margin:0 0 30px 0;}
.reject {color:red;}
.approved {color:#169609!important; background:#fff}
.pdf{padding:2px 0 2px 25px; background:url("/images/ico_pdf.gif") no-repeat 0 50%;}
h3.name {font-size:140%;border-bottom:1px dashed #e8e8e8; padding:40px 0 10px 0;}
#info b{color:#666;}
#alerts ul li{list-style:square; margin:0 0 0 25px;}
#classContainer {background:url("/images/vertical-separator.gif") repeat-y 230px 0px; overflow: auto; padding:10px 0; height:100%;}

.picEdit{padding:0 0 0 200px;}
#parent3, #parent4, #parent2{padding:5px 0 0 0;}
.from-principal{position:relative;}
.caption{line-height:1em; background:#000;color:#fff; position:absolute;bottom:2px;
        left:0;text-align:left;width:207px;padding: 0 0 5px 10px;opacity:.75;
        filter:alpha(opacity=85);}
        
.caption a{color:#fff; line-height:1.5em;}
.caption h2{border:none;}
.nopic{line-height:1em; background:#000;color:#fff; position:relative;text-align:left;width:207px;padding: 0 0 5px 10px;opacity:.75;
        filter:alpha(opacity=85);}

        
