	body {
	       font-family: Arial, Verdana, sans-serif;
               font-size: 12px;
               background-color: #fff;
	       width: 970px;
	       border: 1px solid #F00;
	      }
	
    #header ul {
		list-style: none;
		padding: 0;
		margin: 0;
    }
    
    #header li {
		float: left;
		border: 1px solid #bbb;
		border-bottom-width: 0;
		margin: 2px;
    }
      
     
	#header a {
		text-decoration: none;
		display: block;
		background: gray;
		padding: 0.24em 1em;
		color: #00c;
		width: 8em;
		text-align: center;
    }
	
	#header a:hover {
		background: white;
	}
	
	#header #selected {
		border-color: black;
	}
	
	#header #selected a {
		position: relative;
		top: 1px;
		background: white;
		color: black;
		font-weight: bold;
	}
	
	.clear {
		clear: both;
	}
	
	#sidebar {
		border: 1px solid #000;
		float: left;
		width: 20%;
	}
	
	#content {
		border: 1px solid black;
		width: 75%;
		margin-left: 1.5%;
		float: left;
		padding: 0 1em;
	}
	
	h1 {
		margin: 0;
		padding: 0 0 1em 0;
	}
