<h2 class="current-page">
    Alerts &nbsp;&nbsp;&nbsp;
    <%= link_to "change settings", url(:alert_edit), :class=> "edit-btn" %> 
</h2>  
<p class="subText"> I receive email alerts when: </p> 

<% unless @alert_people.blank? %>
    <% @alerts.each do |f| %>
          <% if @alert_people.include? (f.id) %>
                <% unless  f.full_name == "New Announcement" %>
                    <ul class="email-alerts">
                        <li>&nbsp;  <%= f.full_name %> </li>
                    </ul>
                <% end %>
          <% end %>
    <% end %> 
    
    <% unless @alert_home.empty?  %>
       <ul class="email-alerts">
          <li>&nbsp; New Announcement is posted to Home Page </li>
       </ul>
    <% end %> <br/>
    
    <% unless @alert_classes.empty? %>   
        <span class="subText">
           You are currently also subscribed to receive an email alert when a homework assignment or an announcement is posted for the classrooms below:<br/>
        </span>
    <% end %>

    <% @current_school.active_classrooms.each do |f| %>
        <% alert_p = AlertPeople.find(:all,:conditions=>["person_id=? and classroom_id=?", session.user.id, f.id]).map{|x| x.classroom_id } %>
        <% if alert_p.include?(f.id) %>
             <ul class="email-alerts">
                 <li>&nbsp; <%= f.class_name %></li>
             </ul>
        <% end %>
    <% end %>
    
<% else %>

      <p class="subtext">You have not set any email alerts yet. (<%= link_to "change settings", url(:alert_edit) %>) </p>
      
<% end %>

