<div class='formcontainer'>

       <table>
             <tr> <h4>From the Principal</h4></tr>
             <tr>
                <td><%= params[:announcement][:title] %>:</td>
		<td><%= params[:announcement][:content] %></td>
             </tr>
	    
       </table>
       
</div>
