<div class="previewWrapper"> 
  <div class="data-block long-block">
    <div class="ddmmm">
      <span class="date"><%=  params[:announcement][:expiration]%></span>
      <span class="month"><%=  params[:announcement][:expiration]%></span>
    </div>
    <h3><%= params[:announcement][:title] %></h3>
    <p class="post-content"><%= params[:announcement][:content] %></p>
    <div class="hrule clear">
    <a href="javascript:window.close();">Close the preview</a></div>
  </div>
</div>