  <table>

         <tr>
	    <td>Welcome Message for:<%= select :access_name, :collection => @classrooms %></td>
	 </tr>
         <tr>
	      <td><%= text_area  :content,  :label => "Content", :rows => "10", :cols => "50" %></td>
	 </tr>
	 <tr>
	      <td><input type = 'button' value = 'Preview' onclick="preview();return false;" /></td>
	      <td><%= submit "Publish" %></br> Or <%= link_to "Cancel", url(:welcome_messages) %></td>
	 </tr>
	
   </table>
   
<script type= "text/javascript">

 function preview()
 {
   var s = $('welcome_message').serialize();
   window.open('/welcome_messages/preview/-/?' + s);
 }
  

</script>
