<h2 class="current-page">Welcome Messages &gt; Add New</h2>
<fieldset>
  <ul>
    <li><label>Welcome Message for:</label><%= select :access_name, :collection => @classrooms %></li>
    <li><%= text_area  :content,  :label => "Content", :rows => "10", :cols => "50" %></li>
  </ul>
</fieldset>

<div class="save-cancel">
    <input type = 'button' value = 'Preview' onclick="preview();return false;" />
    <%= submit "Publish" %> Or 
    <%= link_to "Cancel", resource(:welcome_messages) %>
</div>

<script type= "text/javascript">

 function preview()
 {
   var s = $('welcome_message').serialize();
   window.open('/welcome_messages/preview/-/?' + s);
 }
  

</script>
