
<fieldset>
  <ul>
    <li><label>Welcome Message for:</label><%= select :access_name, :collection => @classrooms %></li>
    <li><%= text_area  :content,  :label => "Content", :rows => "10", :cols => "50", :class => 'rte-zone' %></li>
  </ul>
</fieldset>

<div class="save-cancel">
    <input type = 'button' value = 'Preview' onclick="preview();return false;" />
    <%= submit "Publish" %> Or 
    <%= link_to "Cancel", resource(:welcome_messages), :class => "cancel" %>
</div>

<script type= "text/javascript">

   document.message.welcome_message_content.focus();

 function preview()
 {
   var s = $('welcome_message').serialize();
   window.open('/welcome_messages/preview/-/?' + s);
 }
  
 $j('.rte-zone').rte("css url", "toolbox images url");


</script>
