<div class ='formcontainer'>
     
    <p><b> Welcome Messages > Add New </b></p>

    <%= form_for :welcome_message, :action => url(:welcome_message), :id => 'welcome_message' do %>
	
         <%= partial 'form' %> 

    <% end =%>
	   
    
</div>
