



  <div id="content"><!--Content Area Starts here-->
       
          <p class="post-content"><%= params[:welcome_message][:content] %></p>
        
        <h2 class="current-page">Announcements &amp; Updates </h2>
          <p class="subText">There are no Announcements at this time.</p>
  </div>
