<div class='preview-container'>
     <h4><span>Welcome Message</span></h4>
     <h3>Welcome Message For <%= params[:welcome_message][:access_name] %></h3>
     <h5><%= params[:welcome_message][:message] %></h5>
	   <p><%= params[:welcome_message][:content] %></p>
</div>
