<div class='formcontainer'>

       <table>
             <tr> <h4>Welcome Message</h4></tr>
             <tr>
                <td><%= params[:welcome_message][:message] %></td>
		<td><%= params[:welcome_message][:content] %></td>
             </tr>
	    
       </table>
       
</div>
