- if params[:welcome_message][:access_name] == "Home Page"
  %div{:id => "sidebar", :class => "left-block"}
    -  @attachment = @current_school.attachments.find(:first, :conditions => ['attachable_type = ?', "principal_image"])
    - unless @attachment.nil?
      = file_image(@current_school.id, @attachment.id, @attachment.attachable_type) 
    - else
      %img{:src => "/images/principal.png", :alt => "From The Principal" }
    %p{:class => "separator"}
      &nbsp;
    %div{:class => "page-links"}
      = link_to "All Articles", url(:principal_articles, :label => 'principal'), :class =>'all-articles'
  
#content
  %p{:class => "post-content"}
    = params[:welcome_message][:content]
  %h2{:class => "current-page"}
    Announcements &amp; Updates
  %p{:class => "subText"}
    There are no announcements at this time
