
<h2 class="current-page">
         Grades/Reports 
         <span class="actions">
              <%= link_to "Set Up Subjects", resource(:reports, :new) %> &nbsp; &nbsp;
              <%= link_to "Edit Grades Definition " %>
         </span>
</h2>



You're in index of the Reports controller.