
<h2 class="current-page">
         Grades/Reports 
         <span class="actions">
              <%= link_to "Add New", resource(:reports, :new) %> |
              <%= link_to "Edit Grades Definition " %>
         </span>
</h2>



You're in index of the Reports controller.