<div class='formcontainer'>

       <table>
             <tr> <h4>Announcements</h4></tr>
             <tr>
               <td>Title :<%= @title %></td>
             </tr>
             <tr>
                 <td>Content :<%= @content %></td>
             </tr>
	    
       </table>
       
</div>
