
<div id="fullpage">
       <div>
            <h2>Announcements > <%= params[:announcement][:title] %></h2>
       </div>
       <div class="ddmmm">
            <span class="date"><%= @date.strftime("%d") %></span>
            <span class="month"><%= @date.strftime("%b") %></span>
        </div>
        <p class="separator"><%= san_content(params[:announcement][:content]) %></p>
        
             
</div>
