<h2 class="current-page">
    Alerts &nbsp;&nbsp;&nbsp;
    <%= link_to "change settings", url(:alert_edit), :class=> "edit-btn" %> 
</h2>   

<% unless @alert_people.blank? %>
    <% @alerts.each do |f| %>
          <% if @alert_people.include? (f.id) %>
              <ul class="email-alerts">
                 <li>&rarr; &nbsp; <%= f.full_name %>  </li>
              </ul>
          <% end %>
    <% end %> <br/>
    <span class="subText">You will Receive Email Alerts for the classrooms</span>
    <% @current_school.classes.each do |f| %>
          <% alert_p = AlertPeople.find(:all,:conditions=>["person_id=? and classroom_id=?", session.user.id, f.id]).map{|x| x.classroom_id } %>
          <% if alert_p.include?(f.id) %>
               <ul class="email-alerts">
                    <li>&rarr; &nbsp; <%= f.class_name %></li>
               </ul>
          <% end %>
    <% end %>
<% else %>
    <p class="subtext">You have not set any email alerts yet. (<%= link_to "change settings", url(:alert_edit) %>)</p>
<% end %>

