<h2 class="current-page">Alerts &nbsp;&nbsp;&nbsp;<%= link_to "change settings", url(:alert_edit), :class=> "edit-btn" %> </h2>   
<% if @alerts.empty? %>
  <p class="subText">You are currently not receiving any email alerts. (<%= link_to "change settings", url(:alert_edit) %>)</p>
<% else %>
<p>You are currently being notified on email when: </p>
  <% @alerts.each do |f| %>
    <ul class="email-alerts">
      <li><%= f.full_name %> </li>
    </ul>
  <% end %>
<% end %>
