<h2 class="current-page">
    Alerts &nbsp;&nbsp;&nbsp;
    <%= link_to "change settings", url(:alert_edit), :class=> "edit-btn" %> 
</h2>   

<% unless @alert_people.blank? %>
    <% @alerts.each do |f| %>
          <% if @alert_people.include? (f.id.to_i) %>
              <ul class="email-alerts">
                <li>&rarr; &nbsp; <%= f.full_name %> </li>
              </ul>
          <% end %>
    <% end %>
<% else %>
    <p class="subtext">You have not set any email alerts yet. (<%= link_to "change settings", url(:alert_edit) %>)</p>
<% end %>

