<div class='formcontainer'>

       <table>
       
             <tr> <h4>Spot Light</h4></tr>
             <tr>
                <td>Student Name : <%= @student_name %></td>
            </tr>
            <tr> 
                <td> Class Name : <%= @class_name %> </td>
            </tr>
	          <tr> 
                <td>Content : <%= @content %> </td>
            </tr>
       </table>
       
</div>
