<div class='preview-container'>
  <h4><span>Spot Light</span></h4>
  <h5>Student Name : <%= @student_name %></h5>
  <h5>Class Name : <%= @class_name %></h5>
  <p></p>Content : <%= @content %></p>
</div>