<div class='formcontainer'>
   
      <table>
            <tr>
	        <td><h3>Directory</h3> </br></td>
	    </tr>
	   <tr> 
	       <td<h3>Last Name </h3></td>
	       <td<h3>First Name </h3></td>
	       <td<h3>Email </h3></td>
	       <td<h3>Phone </h3></td>
	   </tr> 
	    <% for user in @users %>
   
                 <tr>
                      <td><%= user.username %> </td>
                      <td><%= user.name %></td>
		      <td><%= user.email %></td>
		      <td><%= user.phone %></td>
                 </tr> 
                
	   <% end %> 
	   
	    
        </table>
	 
</div>

