<div class = 'formcontainer'>
          
         

   This site was developed as the communication gateway between our School and their student’s families.  Simply point       Upcoming Events and click to review the various topics and features provided.         
          If needed, visit the QUICK HELP link on the lower left side of the page to learn a little more about how the site works. 
Thanks for visiting!

          <table>
                  <tr><h4>Announcements</h4></tr>
                 
                 <tr>
                      <td><%= @announcement.expiration.strftime("%B-%d") %></td>
                      <td><%= @announcement.title %></td>
                 </tr> 
                 <tr>
                     <td><%= @announcement.content %></td>
                 </tr>
          </table>

</div>
          <%= link_to "All Announcements",  url(:show_announcements) %>
