@charset "utf-8";

/*Development Stage CSS - To be Optimized, To be Well Documented*/

/* Full Reset - To Decide Whether to use a Reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-weight:inherit;	font-style: inherit; font-size: 100%; font-family:inherit; vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1; color:black; background:white;}
ol, ul{list-style:none;}
table{border-collapse:separate; border-spacing:0;}
caption, th, td{text-align:left; font-weight:normal;}
blockquote:before, blockquote:after,q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
/*End Reset*/

body{width:100%; font-size:14px; font-family:Lucida, "Lucida Sans Unicode", Verdana, Arial Sans serif;}
#pagewrap{width:100%;}


/*Header*/
#header{ background:url(../images/header-bg.gif) repeat-x;}
#header h1{width:600px; padding:12px 0 12px 20px; height:26px; }
#header h1 a{ color:#2F8843; text-decoration:none; font-weight:bold;}
#header h1 a:hover{text-decoration:underline;}

/*User Control Panel Section*/
#user-cp{position:absolute; top:6px; right:6px;}
#user-cp .welcome{}
#user-cp ul li{display:inline;}

#content{width:100%; float:left;}
#sidebar{width:200px; float:left; clear:both; border-right:1px solid #e8e8e8; padding-right:20px;}

ul#menu{width:170px; padding:20px 0 0 15px; font-size:13px; line-height:15px;}
	/*[Line Height] To fix truncation of 'Descenders' in IE7*/

/*Sidebar Menu*/
ul#menu a{text-decoration:none;}
ul#menu li{padding:4px 0 4px 0; font-weight:bold; background:}
ul#menu li ul{margin-top: 12px;}
ul#menu li ul li{font-weight:normal; padding:0;}
ul#menu li ul li a{display:block; width:100%; padding:4px 0 8px 0; border-bottom:1px dotted #ccc; color:#486290;}
ul#menu li ul li a:link
ul#menu li ul li a:visited{}
ul#menu li ul li a:hover, ul#menu li ul li a:active{text-decoration:underline}

ul#menu li span.count{background: transparent url(../images/menu-count.gif) no-repeat center; padding:3px 3px 4px 4px; font-size:11px;}

span.count{background:url(../images/menu-count.gif) 50% !important}


/* Top Navigation*/
#navigation{font-size:12px; margin-left:60px; position:relative; top:1px;} 
	/* Positioned To create the open end for Current Li*/
#navigation li{display:inline;}
#navigation li a{float:left; background:url(../images/nav-bg.gif) no-repeat left top; padding:0 0 0 20px; margin:0 4px 0 0; text-decoration:none;}
#navigation li a span{float:left; display:block; background:url(../images/nav-bg.gif) no-repeat right top; padding:7px 20px 5px 0px;cursor:pointer;}

#navigation li.current a{color:#999; background-image:url(../images/nav-bg-current.gif); color:#000; border-bottom:1px solid #fff;}
#navigation li.current a span{background-image:url(../images/nav-bg-current.gif); cursor:pointer;}

#navigation li a:hover{background-image:url(../images/nav-bg-hover.gif);}
#navigation li a:hover span{background-image:url(../images/nav-bg-hover.gif);color:#000;}

#navigation li a:active{background-image:url(../images/nav-bg-active.gif);}
#navigation li a:active span{background-image:url(../images/nav-bg-active.gif);color:#000;}

/*Undoing above style for current li*/
#navigation li.current a:hover{background-image:url(../images/nav-bg-alt.gif);}
#navigation li.current a:hover span{background-image:url(../images/nav-bg-alt.gif); color:#000;}

#navigation li.current a.current{background-image:url(../images/nav-bg-admin-current.gif);}
#navigation li.current a.current span{background-image:url(../images/nav-bg-admin-current.gif); color:#000;}

#navigation li.current a.admin{background-image:url(../images/nav-bg-admin-current.gif);}
#navigation li.current a.admin span{background-image:url(../images/nav-bg-admin-current.gif); color:#000;}

#navigation li a.admin{background-image:url(../images/nav-bg-admin.gif);}
#navigation li a.admin span{background-image:url(../images/nav-bg-admin.gif); color:#000;}

/*Breadcrumbs*/
#crumbtrail{margin:20px 0 0 20px; padding:0 0 4px 4px; clear:left; font-size:13px;}
#crumbtrail li{display:inline;padding:0 2px 0 0px;}
#crumbtrail span{padding:0 2px 0 6px;}
#crumbtrail a:hover{text-decoration:underline;}

#content-wrap{float:left; margin:0 0 0 10px;}/*Wraps the content section*/

#user-cp{float:right; background:url(../images/usercp-bg.gif) no-repeat top center; font-size:10px; padding:10px; width:302px; margin-top:6px;}
#user-cp p{float:left; padding:0 6px 0 12px; color:#949490;}
#user-cp em{font-style:normal;}

#user-cp ul{float:left;}
#user-cp ul li{display:inline; border-left:1px solid #ccc; padding-left:3px; }
#user-cp ul li.first{border:none;}

#user-cp a:hover{color:#000;}

.hrule{clear:both; height:0; border-bottom:1px solid #e8e8e8;}
#header .hrule{}
.hrule hr{display:none;}
