  
   <% s = @classroom.class_peoples.delete_if{ |x| x.team_id != nil } %>
          <% if @classroom.class_name != "Sports" %> 
                 <% t = s.delete_if{ |x| x.role != "class_teacher" } %>
         <% else %>
                <% t = s.delete_if{ |x| x.role != "Athletic Director" } %>
          <% end %>
          
          <% t.each do |f| %>
              <h2><%= f.person.name %>'s Bio</h2>
              <p><%= email(f.person.email) %></p>
              <br/><br/>
              <%unless f.person.person_bio.blank?%>
                <p><%= san_content(f.person.person_bio) %></p>
              <%end%>
           <% end %>
