<fieldset>

  <h2 class="current-page">Contact Us</h2>
  <dl>
  
  <dd><%= @current_school.school_name %></dd>
  </dl>
 
  <dl>
       <dt>Phone:</dt>
       <dd><%= @current_school.phone %></dd>
       <dt>Email:</dt>
       <dd><%= @current_school.email %></dd>
  </dl>
 

</fieldset>
