<fieldset>
  <h2 class="current-page">Contact Us</h2>
  <p>If you have any comments, suggestions or questions, please contact us at:</p>
<%= partial 'common/contact' %>
 

</fieldset>
</div>

<% unless session.user.type == "Parent" %>
     <div class="right-sidebar"> 
     <h3>Manage Contact Information</h3>
           <ul class="last">
           <li <% if @selected == "school_profile" %> class="on" <% end %>><%= link_to_right((right = "basic_settings"), "Manage Contact Information", url(:schools) )  %></li>
           </ul>
     </div>
<% end %> 
