<fieldset>

 <% if params[:label] == "help4" %>
            <h4>Help Item 4 </h4>
         <p>
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur. Lorem ipsum
             eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad qui quod
             oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
         </p>
      
 <% elsif params[:label] == "help2" %>
          <h4>Help Item 2 </h4>
         <p>
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur. Lorem ipsum
             eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad qui quod
             oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
         </p>
 <% elsif params[:label] == "help3" %>          
        <h4>Help Item 3 </h4>
         <p>
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur. Lorem ipsum
             eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad qui quod
             oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
         </p>
  <% else %>         
            <h4>Help Item 1 </h4>
         <p>
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur. Lorem ipsum
             eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad qui quod
             oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
             Lorem ipsum eos modo tincidunt appellantur at. Ne causae laoreet vim, homero aperiri sed ne. Ad
             qui quod oporteat neglegentur. Ex eam inani omnium facilisis, mea cu clita omittantur.
         </p>
           
  <% end %>

</fieldset>
