Hello...

  Your password has been reset.
 
  Please visit:
 
        
      <a href="http://csd.insightmethods.com<%= url(:reset_password_link, :id => @ivar.password_reset_key) %>">http://csd.insightmethods.com<%= url(:reset_password_link, :id => @ivar.password_reset_key) %> </a>  


