Yeah..

  Your Account is activated.

  Please visit
 
      <a href="http://localhost:4000/<%= url(:new_password_link, :id => @ivar.password_reset_key) %>">http://localhost:4000/<%= url(:new_password_link, :id => @ivar.password_reset_key) %> </a> 


