Yeah..

  Your Account is activated.

  Please visit
 
      <a href="http://csd.insightmethods.com<%= url(:new_password_link, :id => @ivar.password_reset_key) %>">http://csd.insightmethods.com<%= url(:new_password_link, :id => @ivar.password_reset_key) %> </a> 


