<div class='formcontainer'>

       <table>

             <tr>
                 <td><h3>Home Page Links</h3></td>
                 <td><%= link_to "Edit", url(:edit) %></td>
             </tr>
           
           <% for homelink in @homelinks %>

              <tr>
                 <td><%= link_to ("#{homelink.title}", "http://#{homelink.link}", {'target' => '_blank'}) %></td>
              </tr>

           <% end %> 

        </table>

</div>

