<%= error_messages_for @announcement %>
<h2 class="current-page">Announcements &gt; Add New </h2>
<%= form_for (@announcement, :action => resource(:announcements), :id => 'announcement') do %>
  <%= partial 'form' %>          
<% end =%>




