
   

<div class='preview-container'>
    <h5>Announcements > <%= @title %></h5>
    <span class="subText">Announcement for: <%= @access_name %></span><br/>
    <span class="subText">expires on <%= @expiration %></span>
    <br class="clear"/>
    <p><%= san_content(@content) %></p>
</div>
