    <ul>
        <li>as voice alerts to </li>
        <li>
            <span><%= number_to_phone(@person.voice_alert, :area_code => true)  %></span>
            <a href="#"  class="edit-btn"  onclick="voice(); return false;">edit number</a>
            <%= link_to "cancel subscription", url(:subscription, :id => @person.id), :class =>"delete-btn" %>
        </li>
        <div class="clear"></div>
    </ul>                                                
