 <div id="info" style="display:none;">
          <b>Please Select the classroom you would like to visit</b>
          <p>Classes: </p>
            <ul><% @classrooms = @current_school.classrooms.find(:all, :conditions => ['activate = ? and class_name != ?', true, "Sports"]) %>
              <% @classrooms.each do |f| %>
                  <li><%= link_to "#{f.class_name}".upcase, url(:class_details, :id => "#{f.id}" ) %></li>
              <% end %>
          </ul>
    </div> 
