<div class='formcontainer'>

       <table>
       <tr> <h4>Home Work</h4></tr>
             <tr>
             <td><%= params[:home_work][:title] %></td>
             <td><%= params[:home_work][:content] %></td>
             </tr>
	    
       </table>
       
</div>
